/app/code/local/PSDS
/cyo
/credis
/lib/Credis
/.htaccess
/app/etc/local.xml
/cron.php
/cron.sh
/downloader
/errors/
/includes
/index.php.sample
/install.php
/LICENSE*
/media
/pear
/php.ini.sample
RELEASE_NOTES.txt
/robots.txt
/shell
/var
/sitemap.xml
/1_1.xml
/feeds/*
/option.csv
/lib/Sphinx/*
/elevate
/sitemap.xml
